
   /*Slick slider-io rodykles cia */
   .slick-prev:before, 
   .slick-next:before {
       color: black;
   }
   /* -- */
  
  .slick-slider {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .slick-slider img {
    height: 100%;
    padding: 20px;
    margin: 0pt auto;
  }

  .slick-slide {
    height: 150px;
  }

  .my-slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  



 