body {
    font-family: "Poppins", sans-serif;
    display: block;
    background: #fff;
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
  }
  
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
  }
  
  .main-menu {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    max-width: 1140px;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
  }
  
  ul a {
    text-decoration: none;
    color: black;
  }
  
  .nav-menu li {
    padding: 10px;
  }
  
  .nav-menu li a:hover {
    color: #8490ff;
  }
  
  .nav-menu .active {
    color: #8490ff;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-below {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    list-style: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content-below {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    list-style: none;
  }
  
  .dropdown-below:hover .dropdown-content-below {
    display: block;
  }